# fields
public net.minecraft.client.renderer.GameRenderer field_78513_d # lightTexture
public net.minecraft.client.renderer.WorldRenderer field_72769_h # level
public net.minecraft.client.renderer.WorldRenderer field_175010_j # entityRenderDispatcher
public net.minecraft.client.renderer.WorldRenderer field_175001_U # capturedFrustum
public net.minecraft.client.renderer.WorldRenderer field_175003_W # frustumPos
public net.minecraft.client.renderer.WorldRenderer field_175002_T # captureFrustum
public net.minecraft.client.renderer.WorldRenderer field_228409_ai_ # frameId
public net.minecraft.client.renderer.WorldRenderer field_228416_y_ # frameTimes
public net.minecraft.client.renderer.WorldRenderer field_72749_I # renderedEntities
public net.minecraft.client.renderer.WorldRenderer field_72750_J # culledEntities
public net.minecraft.client.renderer.WorldRenderer field_239223_G_ # itemEntityTarget
public net.minecraft.client.renderer.WorldRenderer field_239225_I_ # weatherTarget
public net.minecraft.client.renderer.WorldRenderer field_175015_z # entityTarget
public net.minecraft.client.renderer.WorldRenderer field_228415_m_ # renderBuffers
public net.minecraft.client.renderer.WorldRenderer field_72755_R # renderChunks
public net.minecraft.client.renderer.WorldRenderer$LocalRenderInformationContainer field_178036_a # chunk
public net.minecraft.client.renderer.WorldRenderer field_228407_B_ # destructionProgress
public net.minecraft.client.renderer.WorldRenderer field_181024_n # globalBlockEntities
public net.minecraft.client.renderer.WorldRenderer field_174991_A # entityEffect
public net.minecraft.client.renderer.WorldRenderer field_239227_K_ # transparencyChain
public net.minecraft.client.renderer.WorldRenderer field_239222_F_ # translucentTarget
public net.minecraft.client.renderer.WorldRenderer field_239224_H_ # particlesTarget
public net.minecraft.client.renderer.WorldRenderer field_239226_J_ # cloudsTarget
public net.minecraft.client.renderer.RenderState field_239237_T_ # PARTICLES_TARGET
public net.minecraft.client.renderer.RenderState field_239239_V_ # CLOUDS_TARGET
public net.minecraft.client.renderer.RenderState field_239238_U_ # WEATHER_TARGET

public net.minecraft.client.renderer.WorldRenderer field_72739_F # lastViewDistance
public net.minecraft.client.renderer.WorldRenderer field_174992_B # lastCameraX
public net.minecraft.client.renderer.WorldRenderer field_174993_C # lastCameraY
public net.minecraft.client.renderer.WorldRenderer field_174987_D # lastCameraZ
public net.minecraft.client.renderer.WorldRenderer field_174988_E # lastCameraChunkX
public net.minecraft.client.renderer.WorldRenderer field_174989_F # lastCameraChunkY
public net.minecraft.client.renderer.WorldRenderer field_174990_G # lastCameraChunkZ
public net.minecraft.client.renderer.WorldRenderer field_175008_n # viewArea
public net.minecraft.client.renderer.WorldRenderer field_174995_M # chunkRenderDispatcher
public net.minecraft.client.renderer.WorldRenderer field_147595_R # needsUpdate
public net.minecraft.client.renderer.WorldRenderer field_175009_l # chunksToCompile
public net.minecraft.client.renderer.WorldRenderer field_174997_H # prevCamX
public net.minecraft.client.renderer.WorldRenderer field_174998_I # prevCamY
public net.minecraft.client.renderer.WorldRenderer field_174999_J # prevCamZ
public net.minecraft.client.renderer.WorldRenderer field_175000_K # prevCamRotX
public net.minecraft.client.renderer.WorldRenderer field_174994_L # prevCamRotY
public net.minecraft.client.renderer.WorldRenderer$LocalRenderInformationContainer
public net.minecraft.client.renderer.WorldRenderer$LocalRenderInformationContainer field_178034_b # sourceDirection
public net.minecraft.client.renderer.WorldRenderer func_181562_a(Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/client/renderer/chunk/ChunkRenderDispatcher$ChunkRender;Lnet/minecraft/util/Direction;)Lnet/minecraft/client/renderer/chunk/ChunkRenderDispatcher$ChunkRender; # getRelativeFrom
public net.minecraft.client.renderer.WorldRenderer$LocalRenderInformationContainer field_178032_d # step
public net.minecraft.client.renderer.WorldRenderer$LocalRenderInformationContainer field_178035_c # directions
public net.minecraft.client.Minecraft field_228006_P_ # renderBuffers
public net.minecraft.client.renderer.ViewFrustum func_178161_a(Lnet/minecraft/util/math/BlockPos;)Lnet/minecraft/client/renderer/chunk/ChunkRenderDispatcher$ChunkRender; # getRenderChunkAt
public net.minecraft.client.renderer.WorldRenderer field_147596_f # xTransparentOld
public net.minecraft.client.renderer.WorldRenderer field_147597_g # yTransparentOld
public net.minecraft.client.renderer.WorldRenderer field_147602_h # zTransparentOld
public net.minecraft.client.renderer.WorldRenderer field_228408_W_ # format
public net.minecraft.client.renderer.WorldRenderer func_228434_a_(Lcom/mojang/blaze3d/vertex/IVertexBuilder;IIIIIII)V # addFrustumQuad
public net.minecraft.client.renderer.WorldRenderer func_228433_a_(Lcom/mojang/blaze3d/vertex/IVertexBuilder;I)V # addFrustumVertex
public net.minecraft.client.util.Splashes field_215280_c # splashes

# methods
public net.minecraft.client.renderer.WorldRenderer func_228419_a_(Lnet/minecraft/util/math/vector/Matrix4f;Lnet/minecraft/util/math/vector/Matrix4f;DDDLnet/minecraft/client/renderer/culling/ClippingHelper;)V # captureFrustum
public net.minecraft.client.renderer.WorldRenderer func_228437_a_(Lnet/minecraft/client/renderer/ActiveRenderInfo;Lnet/minecraft/client/renderer/culling/ClippingHelper;ZIZ)V # setupRender
public net.minecraft.client.renderer.WorldRenderer func_174967_a(J)V # compileChunksUntil
public net.minecraft.client.renderer.WorldRenderer func_228441_a_(Lnet/minecraft/client/renderer/RenderType;Lcom/mojang/blaze3d/matrix/MatrixStack;DDD)V # renderChunkLayer
public net.minecraft.client.renderer.WorldRenderer func_228418_a_(Lnet/minecraft/entity/Entity;DDDFLcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/client/renderer/IRenderTypeBuffer;)V # renderEntity
public net.minecraft.client.renderer.WorldRenderer func_228423_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;)V # checkPoseStack
public net.minecraft.client.renderer.WorldRenderer func_228438_a_(Lnet/minecraft/client/renderer/LightTexture;FDDD)V # renderSnowAndRain
public net.minecraft.client.renderer.WorldRenderer func_228447_c_(Lnet/minecraft/client/renderer/ActiveRenderInfo;)V # renderWorldBounds
public net.minecraft.client.renderer.WorldRenderer func_228446_b_(Lnet/minecraft/client/renderer/ActiveRenderInfo;)V # renderDebug
public net.minecraft.client.renderer.WorldRenderer func_239234_w_()V # deinitTransparency
public net.minecraft.client.renderer.WorldRenderer func_174985_d()Z # shouldShowEntityOutlines
public net.minecraft.client.renderer.WorldRenderer func_228429_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lcom/mojang/blaze3d/vertex/IVertexBuilder;Lnet/minecraft/entity/Entity;DDDLnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)V # renderHitOutline
public net.minecraft.entity.LivingEntity func_82166_i()I # getCurrentSwingDuration
public net.minecraft.client.renderer.GameRenderer func_228380_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;F)V # bobHurt
public net.minecraft.client.renderer.GameRenderer func_228383_b_(Lcom/mojang/blaze3d/matrix/MatrixStack;F)V # bobView
public net.minecraft.client.renderer.ActiveRenderInfo func_216774_a(Lnet/minecraft/util/math/vector/Vector3d;)V # setPosition
public net.minecraft.entity.LivingEntity func_184601_bQ(Lnet/minecraft/util/DamageSource;)Lnet/minecraft/util/SoundEvent; # getHurtSound

# classes
public net.minecraft.client.renderer.WorldRenderer$LocalRenderInformationContainer

# actually used
# public-f net.minecraft.client.gui.screen.MainMenuScreen field_2594 # MINECRAFT_EDITION
public net.minecraft.client.util.Splashes func_212854_a_(Lnet/minecraft/server/packs/resources/ResourceManager;Lnet/minecraft/util/profiling/ProfilerFiller;)Ljava/util/List; # prepare
public net.minecraft.client.util.Splashes func_212853_a_(Ljava/util/List;Lnet/minecraft/server/packs/resources/ResourceManager;Lnet/minecraft/util/profiling/ProfilerFiller;)V # apply


public net.minecraft.entity.projectile.ProjectileEntity <init>(Lnet/minecraft/entity/EntityType;Lnet/minecraft/world/World;)V
